
@using QuanLyCH.Models
@{ 
    List<GioHang> lstGiohang = Session["GioHang"] as List<GioHang>;

}

<a class="getstarted scrollto active" href="@Url.Action("Giohang", "GioHang")" style="font-weight:bold;text-decoration:none">
     Gio Hang (
    @if (Session["GioHang"] != null)
    {
        @lstGiohang.Count()}

        
    )

</a>
                


                @*<a class="getstarted scrollto active" href="@Url.Action("Giohang","GioHang")" style="font-weight:bold;text-decoration:none">
                        Giỏ hàng (@ViewBag.Tongsoluongsanpham)
                    </a>*@


