
@{
    ViewBag.Title = "ConfirmPaymentClient";
}


<div style="display:flex; align-items:center; justify-content:center;  flex-direction:column; height:70vh;">

    <h2>Đơn hàng đã được xác nhận</h2>
    <h3>Chúng tôi sẽ giao hàng cho bạn sớm nhất có thể !</h3>
    <p>
        @Html.ActionLink("Về trang chú", "Index", "Home")
    </p>
</div>

